.calendar{
    padding-top: 50px;
    width: 570px;
    height: 500px;
}
.buttons{
    position: relative;
   
    left: 120%;
    display: flex;
    flex-direction: column;
    width: 200px;
    /* height: 41px; */
    padding: 3px 10px 3px 10px;
    column-gap: 5px;
    height: 166px;
    bottom: 411px;
    justify-content: space-evenly;
     
}
.buttons button{
    height: 50px;
    cursor: pointer;
    
  
   
    
}
.change{
    background: rgba(236, 242, 248, 1);
    color:  rgba(24, 164, 225, 1);
    border: none;
    border-radius: 20px;
    font-family: FiraGO;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
width: 200px;

}
.delete{
    background: rgba(255, 147, 166, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 20px;
    font-family: FiraGO;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
width: 150px;


}
button:hover{
    transform: scale(1.3);
    
    transition: ease-in-out 0.3s;
}
.deleteicon{
    position: relative;
    top: 46px;
    left: 24px;
}